html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    color: #FFFFFF;
    background-color: rgb(5, 23, 30);
    min-height: calc(100vh - 120px);
}


/* OVERLAY */

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.432);
}

/* HEADER */
.header_main {
    background-color: #082029;
    height: 96px;
    padding-left: 20px;
    display: flex;
    align-items: center;
}

.header_main_img {
    height: 64px;
}


/* MAIN */

main {
    height: calc(100vh - 96px - 96px);
    display: flex;
    align-items: center;
    flex-direction: column;
}

h1 {
    text-align: center;
}

dialog {
    color: #dfcea1;
    background-color: #334B53;
    border-radius: 20px;
}

.album {
    width: 750px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 28px;
}

/* IMAGES */

.img_little {
    object-fit: cover;
    width: 128px;
    height: 128px;

}

.dialog_image {
    max-width: 450px;
    max-height: calc(450px - (2 * 64px));
    display: flex;
    justify-content: center;
    align-items: center;

}


/* DIALOG */

dialog {
    color: white;
    background-color: rgb(12, 36, 20);
    width: 500px;
    height: 500px;
}

.dialog_header {
    height: 64px;
    background-color: rgb(12, 36, 20);
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

button {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    padding: 3px;
}

.arrow_left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

.arrow_right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.section-dialog {
    height: calc(500px - 2 * 64px);
}

.footer_dialog {
    height: 64px;
    background-color: rgb(12, 36, 20);
    display: flex;
    justify-content: space-around;
    align-items: center;
}


/* FOOTER */

.footer_main {
    color: #334B53;
    background-color: #082029;
    height: 96px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


/* OVERLAY */

.d_none {
    display: none;
}