html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    color: #FFFFFF;
    background-color: rgb(5, 23, 30);
    min-height: calc(100vh - 120px);
}


/* OVERLAY */

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.322);
}

/* HEADER */
header {
    background-color: #082029;
    height: 96px;
    padding-left: 20px;
    display: flex;
    align-items: center;
}

.header-img {
    height: 64px;
}


/* MAIN */

h1 {
    text-align: center;
}

dialog {
    color: #dfcea1;
    background-color: #334B53;
    border-radius: 20px;

}


/* IMAGES */

.img_little {
    object-fit: cover;
    width: 128px;
    height: 128px;

}


/* FOOTER */

footer {
    color: #334B53;
    background-color: #082029;
    height: 96px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.d-none {
    display: none;
}